\r
 See http://help.github.com/ignore-files/ for more about ignoring files.
\r

\r
 Compiled output
\r
dist
\r
tmp
\r
out-tsc
\r
bazel-out
\r

\r
 Node
\r
node_modules
\r
pm-debug.log
\r
arn-error.log
\r

\r
 IDEs and editors
\r
idea/
\r
project
\r
classpath
\r
c9/
\r
.launch
\r
settings/
\r
.sublime-workspace
\r

\r
 Visual Studio Code
\r
vscode/*
\r
.vscode/settings.json
\r
.vscode/tasks.json
\r
.vscode/launch.json
\r
.vscode/extensions.json
\r
history/*
\r

\r
 Miscellaneous
\r
.angular/cache
\r
sass-cache/
\r
connect.lock
\r
coverage
\r
libpeerconnection.log
\r
estem.log
\r
typings
\r

\r
 System files
\r
DS_Store
Thumbs.db